* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
}

.memory-game {
  width: 100vw;
  height: 100vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(12.5% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  border: 2px solid #4ff9a3;
}

.memory-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .memory-card .card-text {
    width: 150%; /* Breite auf 150% erhöhen */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; /* Text linksbündig ausrichten */
    /*white-space: nowrap; /* Verhindert den Zeilenumbruch des Textes */
    overflow: hidden; /* Verhindert das Scrollen und blendet den Text, der über die Karte hinausgeht, aus */
  }


.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateX(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  /*padding: 20px;*/
  position: absolute;
  border-radius: 5px;
  background: #1d1a32;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateX(180deg);
}

/*
img{
  border: none;
}
*/

/* POP UP */

.popup {
  display: block;
  visibility: hidden;
  position: fixed;
  width: 19%;
  height: 19%;
  background-color: #fff;
  border: 5px solid #aa1a1a;
  padding: 10px;
  z-index: 9999;
}

.popup p {
  margin-top: 6%;
}

.close {
  font-size: 40px;
  color: darkred;
  float: right;
  cursor: pointer;
}

#positionButton{
  margin-left: 30%;

}




/* POP UP */